<div class="container">
    <h2>
        Upgrades
    </h2>
        <div class="container">
            <button class="btn btn-light btn-sm" (click)="buyFazendeiro(); envBps()">
                <h5>
                   Fazendeiro: {{fazendeiro}} Custo: {{valorFazendeiro.toFixed(0)}}
                </h5>
            </button>
                <p>
                    O fazendeiro vai plantar e colher batatas sozinho - aumenta 1bps(batatas por segundo)
                </p>
                <p>Bps: {{bpsFazendeiro}}</p>
        </div>
        <div class="container">
            <button class="btn btn-light btn-sm" (click)="buyColheitadeira(); envBps()">
                <h5>
                    Colheitadeira: {{colheitadeira}} Custo: {{valorColheitadeira.toFixed(0)}}
                </h5>
            </button>
                <p>
                    A Colheitadeira vai fazer a colheita das bastatas mais rapido - aumenta 5bps(batatas por segundo)
                </p>
                <p>Bps: {{bpsColheitadeira}}</p>
        </div>
</div>